################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HospiceApp/.vs/HospiceApp/FileContentIndex/04fbde24-57bf-4c14-bc34-9c3ae64bdcdf.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/8d660ac8-1e15-4d82-9f67-6661b789902d.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/9cd49cd6-cf19-470e-9193-9e5d1a744a6f.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/e1152109-adb2-4287-a4b0-f12548f4fffa.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/836188ab-fdeb-4eeb-8e98-c87f28c2ccb0.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/de538f29-2e76-4081-bc28-dee3dc71ec54.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/0200f707-42b5-4bb5-9a3f-b23cd175b8de.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/506e663e-285a-462b-8f5d-e9bca2834894.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/735ee1a5-14eb-4261-a981-b287e3428b41.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/8bf96d26-125f-47df-aea2-a079aa5ef61d.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/b82b51c9-3bdb-44c8-b34a-4849eabc71d2.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/d34cd17a-3c8b-47ff-99fc-594289becd1f.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex
/HospiceApp/.vs/HospiceApp/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
/HospiceApp/.vs/HospiceApp/CopilotIndices/0.2.1653.9816/CodeChunks.db
/HospiceApp/.vs/HospiceApp/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
/HospiceApp/.vs/HospiceApp/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
/HospiceApp/.vs/HospiceApp/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
/.gitignore
