################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HospiceApp/.vs/HospiceApp/FileContentIndex/04fbde24-57bf-4c14-bc34-9c3ae64bdcdf.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/8d660ac8-1e15-4d82-9f67-6661b789902d.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/9cd49cd6-cf19-470e-9193-9e5d1a744a6f.vsidx
/HospiceApp/.vs/HospiceApp/FileContentIndex/e1152109-adb2-4287-a4b0-f12548f4fffa.vsidx
